Language_Translation_Transformer_With_Modular_Coding/runs
Language_Translation_Transformer_With_Modular_Coding/weights
Language_Translation_Transformer_With_Modular_Coding/transformervenv

Language_Translation_Transformer_With_Modular_Coding_v2/runs
Language_Translation_Transformer_With_Modular_Coding_v2/weights
Language_Translation_Transformer_With_Modular_Coding_v2/transformervenv

Language_Translation_Transformer_Without_Modular_Coding/runs
Language_Translation_Transformer_Without_Modular_Coding/weights

Multi_Langauge_Translation_Streamlit/hindi.pt
Multi_Langauge_Translation_Streamlit/italian.pt
